:root {
  --color-black: #000;
  --color-white: #fff;
  --color-navbar: #d2d2d7;
  --color-container: #3a3a3a;
  --color-container-dark: #3a3a3a;
  --color-container-primary: #0066cc;
  --background-navbar: #1d1d1f;
  --background-container: #f5f5f7;
  --height-navbar: 64px;
  --line-height-navbar: 64px;
  --font-size-navbar: 15px;

}

.main {
  position: -webkit-sticky !important;
  position: sticky !important;
  top: 0;
  z-index: 999;
  background-color: var(--background-navbar);
  height: var(--height-navbar);

}

.img {
  height: 45px;
  object-fit: cover;
}

.navbar,
.container,
.row,
.containerFluid,
.collapse,
.navList {
  height: 100%;
}

.navList {
  width: 100%;

  .navItem {
    text-transform: capitalize;

    &:hover {
      background-color: #3f3f3f;
    }

    .navLink {
      color: var(--color-navbar) !important;
      font-size: var(--font-size-navbar);

      &:hover {
        color: var(--color-white);
      }
    }
  }
}


.iconSearch,
.iconBag {
  color: var(--color-navbar) !important;
  padding-left: 20px;
}

.iconSearch {
  font-size: 20px;
}

.bag {
  position: relative;

  .amount {
    position: absolute;
    right: calc(100% - 45px);
    top: calc(100% - 20px);
    display: flex;
    justify-content: center;
    line-height: 14px;
    height: 14px;
    width: 14px;
    color: var(--color-black);
    font-size: 12px;
    background-color: var(--color-navbar);
    border-radius: 50%;
  }
}