h1 {
    color: #1d1d1f;
    font-size: 35px;
    font-weight: 700;
    font-family: "Arial", Arial;
    margin: 10px 0 10px;
    text-align: center;
    box-sizing: border-box;
    line-height: 1;
    padding: 30px 0px 30px;
}

.main {
    .Chonmay{
        color: #86868B;
        box-sizing: border-box;
        align-self: center;
        font-size: 15px;
        padding: 6px 18px;
    }
}