:root {
  --color-white: #fff;
  --color-black: #000;
  --bg-btn: #ccc;
  --bg-btn-hover: #515154;
  --bg-search: #F2F2F2;
  --border-radius-search: 30px;
}

.main {

  .dotSlider {
    width: 12px !important;
    height: 12px !important;
    border-radius: 50%;
    margin: 0 6px !important;
    background-color: #c2c2c6;
  }

  .dotActive {
    background-color: #000;
  }

  .slider {
    transition: all 1s linear;
  }

  .btnSlide {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: none;
    width: 40px !important;
    height: 40px !important;
    border-radius: 50%;
    color: var(--color-white);
    background-color: var(--bg-btn);
    font-size: 25px;
    padding: 0;
    margin: 0;
    font-weight: bolder;

    &:hover {
      background-color: var(--bg-btn-hover);
    }
  }

  .search {
    background-color: var(--bg-search);
    padding: 110px 0;

    .heading::first-letter,
    .paragragh::first-letter {
      text-transform: capitalize;
    }
    .heading{
      font-size: 24px;
      font-weight: 600;
    }
    .paragragh{
      margin: 13px 0  !important;
    }

    .form {
      width: 50%;
      margin: 0 auto;
      input,
      button {
        border-radius: var(--border-radius-search);
      }
      input{
        padding : 7px 0 7px 15px;
        font-size: 13px;
        color: #515154;
      }
      button{
        padding: 7px 35px;
        font-size: 15px;
        background-color: #0066cc !important;
        font-weight: 500;
      }
    }
  }
}