:root {
  --color-white: #fff;
  --color-black: #000;
  --color-text: #1d1d1f;
  --color-price: #0066cc;
  --color-price-old: #86868b;
  --bg-btn: #ccc;
  --bg-btn-hover: #515154;
  --bg-search: #F2F2F2;
  --border-radius-search: 30px;
}

.main {
  .dotSlider {
    width: 12px !important;
    height: 12px !important;
    border-radius: 50%;
    margin: 0 6px !important;
    background-color: #c2c2c6;
  }

  .dotActive {
    background-color: #000;
  }

  .slider {
    transition: all 1s linear;
  }

  .btnSlide {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: none;
    width: 40px !important;
    height: 40px !important;
    border-radius: 50%;
    color: var(--color-white);
    background-color: var(--bg-btn);
    font-size: 25px;
    padding: 0;
    margin: 0;
    font-weight: bolder;

    &:hover {
      background-color: var(--bg-btn-hover);
    }
  }

  .search {
    background-color: var(--bg-search);
    padding: 110px 0;

    .heading::first-letter,
    .paragragh::first-letter {
      text-transform: capitalize;
    }

    .heading {
      font-size: 24px;
      font-weight: 600;
    }

    .paragragh {
      margin: 13px 0 !important;
    }

    .form {
      width: 50%;
      margin: 0 auto;

      input,
      button {
        border-radius: var(--border-radius-search);
      }

      input {
        padding: 7px 0 7px 15px;
        font-size: 13px;
        color: #515154;
      }

      button {
        padding: 7px 35px;
        font-size: 15px;
        background-color: #0066cc !important;
        font-weight: 500;
      }
    }
  }
}

//item
.main {
  .container {
    background-color: #f5f5f7;
    padding-bottom: 54px;

    .heading {
      text-transform: capitalize;
      color: #1d1d1f;
      font-size: 36px;
      font-weight: bold;
      line-height: 54px;
      margin: 54px 0 25px;
    }

    .card {
      position: relative;
      border: 1px solid transparent;
      border-radius: 8px;
      cursor: pointer; 
      &:hover{
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
      }
  
      .cardImg {
        width: 80%;
        height: 100%;
        margin: 0 auto;
        object-fit: cover;
      }
  
      .cardBody {
        position: absolute;
        bottom: 0;
        left: 0;
      }
  
      .cardTitle {
        display: -webkit-box;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: normal;
        -webkit-line-clamp: 2;
        color: var(--color-title);
        font-size: 18px;
        font-weight: bold;
        line-height: 27px;
        min-height: 54px;
      }
  
      .cardPrice {
        .cardOldPrice {
          color: var(--color-price-old);
          font-weight: normal;
          font-size: 14px;
          line-height: 26px;
        }
  
        .cardNewPrice {
          color: var(--color-price);
          font-size: 15px;
          line-height: 26px;
          font-weight: 700;
        }
        .dong{
          font-size: 12px;
          position: relative;
          top: -4px;
          left: 2px;
          text-decoration: underline;
        }
      }
  
      .cardSale {
        position: absolute;
        top: 10px;
        left: 10px;
        display: inline-block;
        padding: 5px;
        border-radius: 2px;
        background-color: #f46813;
        color: #fff;
        font-size: 12px;
        line-height: 1;
      }
  
    }

    .allItem {
      .btnAllItem {
        margin: 25px 0 10px;
        border-radius: 8px !important;
        padding: 10px 48px !important;
        font-size: 14px;


        .btnName {
          &::first-letter {
            text-transform: capitalize !important;
          }
        }

        .btnIcon {
          font-weight: 900;
        }
      }
    }

  }
}

@media (max-width:767px) {
  .main {
    .search {
      .form {
        width: 100%;
        margin: 0 auto;
      }
    }
  }
}

@media (min-width : 768px) and (max-width: 991px){
  .main {
    .search {
      .form {
        width: 80%;
        margin: 0 auto;
      }
    }
  }
}