:root{
  --color-heading : #2d2d2d;
  --color-heading-1 : #1d1d1f;
  --color-danger: #bf4800;
  --white-color : #fff;
  --black-color : #000;
  --color-primary : #0066cc; 
  --border-color : #d2d2d7;
}


.firstLetter{
  &::first-letter{
    text-transform: capitalize;
  }
}