:root {
  --white-color: #fff;
  --black-color: #000;
  --bg-notifiEmpty: #0066cc0d;
  --bg-notifiNotEmpty: #fafbf5
}


.firstLetter {
  &::first-letter {
    text-transform: capitalize;
  }
}

.notificationEmpty {
  background-color: var(--bg-notifiEmpty);
  border-style: solid;
  border-width: 0px 0px 0px 4px;
  border-color: #0066cc;
  padding: 14px 0;

  .icon {
    color: #0066cc;
    font-size: 15px;
    padding: 0 15px;
  }

  .label {
    color: #2d2d2d;
    font-weight: 400;
    font-size: 15px;
  }
}

.notificationNotEmpty {
  background-color: var(--bg-notifiNotEmpty);
  border-style: solid;
  border-width: 0px 0px 0px 4px;
  border-color: #339901;
  padding: 14px 0;

  .icon {
    color: #339901;
    font-size: 15px;
    padding: 0 15px;
  }

  .label {
    color: #2d2d2d;
    font-weight: 400;
    font-size: 15px;
  }
}

.cart {
  .tableItem {
    .btnDelete {
      font-size: 25px;
      color: #1d1d1f;
      opacity: .85;

      &:hover {
        opacity: 1;
      }
    }

    .img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    .name {
      color: #0066cc;
      font-size: 14px;
    }

    .color,
    .capacity {
      color: #2d2d2d;
      font-size: 14px;
    }

    .price,
    .totalPrice,
    .amount {
      color: #1d1d1f;
    }

    .btnUp,
    .btnDown {
      font-size: 12px;
      opacity: .8;
      cursor: pointer;

      &:hover {
        opacity: 1;
      }
    }
  }
}

.resultTotal{
  color: #0066cc;
}
.labelFontSize {
  font-size: 14px;
}
.notBoxShadow{
  &:focus{
    box-shadow: none;
  }
}
.btnTotal{
  padding: 15px 0;
  background-color: #0066cc;
  width: 100%;
  &:hover{
    opacity: .85;
  }
}