.firstLetter {
  &::first-letter {
    text-transform: capitalize;
  }
}


.main {
  background-color: #f5f5f7;

  .container {
    max-width: 50vw;
    margin: 0 auto;

    .notificationEmpty {
      background-color: #0066cc0d;
      border-style: solid;
      border-width: 0px 0px 0px 4px;
      border-color: #0066cc;
      padding: 14px 0;

      .icon {
        color: #0066cc;
        font-size: 15px;
        padding: 0 15px;
      }

      .label {
        color: #2d2d2d;
        font-weight: 400;
        font-size: 15px;
      }
    }

    .checkout {
      .btn {
        border: 1px solid #ccc;
        padding: 15px 20px;
        border-radius: 8px;
        background-color: #fff;
        color: #868686;

        &:hover {
          border-color: #0066cc;
          background-color: #0066cc;
          color: #fff;
        }
      }

      .activeBtn {
        border-color: #0066cc;
        background-color: #0066cc;
        color: #fff;
      }

      .inforCarts {
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
        border-radius: 8px;

        .title {
          color: #0066cc;
          font-size: 18px;
        }

        .img {
          width: 20%;
          object-fit: cover;
        }

        .name,
        .color,
        .capacity,
        span {
          font-size: 14px;
        }

        input {
          &:focus {
            box-shadow: none;
          }
        }
      }

      .form {
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
        border-radius: 8px;
        background-color: #fff;

        .title {
          color: #0066cc;
          font-size: 18px;
        }

        .label {
          position: relative;
          font-size: 14px;

          &:not(:last-child)::after {
            content: "*";
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            right: -10px;
            color: red;
          }
        }

        input,
        textarea {
          padding: 10px;
          font-size: 14px;

          &:focus {
            box-shadow: none;
            border-color: #ccc;
          }
        }
      }

      .totalPrice {
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
        border-radius: 8px;
        background-color: #fff;

        .price {
          color: #0066cc;
        }
      }

      .thanhToan {
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
        border-radius: 8px;
        background-color: #fff;
        margin-bottom: 70px;

        .title {
          font-size: 18px;
          color: #2d2d2d;
        }

        input {
          &:not(:last-child) {
            width: 10px;
            height: 10px;
          }
        }

        input,
        button {
          &:focus {
            box-shadow: none;
            border-color: #ccc;
          }
        }
        label{
          font-size: 14px;
        }
        .btnThanhToan{
          width: 100%;
          border-radius: 4px;
          border-color: #ccc;
          background-color: #0066cc;
          &:hover{
            opacity: .85;
          }
        }
      }
    }
  }
}