.firstLetter {
  &::first-letter {
    text-transform: capitalize;
  }
}

.btn {
  border-color: #ccc;
  color: #2d2d2d;
  border-radius: 4px;
  cursor: pointer;

  &:hover {
    background-color: #0066cc;
    color: #fff;
  }
}

.product {

  input,
  button,
  select {
    &:focus {
      box-shadow: none;
      border-color: #ccc;
    }
  }

  .inputFind {
    outline: none;
    border-color: #ccc;
    max-width: 400px;
    width: 300px;
  }
  .btnFind{
    width: 100px !important;
  }

  .addProduct {
    border: 1px solid #ccc;
    background-color: #0066cc;
    color: #fff;

    &:hover {
      opacity: .75;
    }
  }

  .img {
    width: 75px;
    height: 100%;
    object-fit: cover;
  }

  .label {
    color: #2d2d2d;
    font-size: 15px;
  }

  .btnEdit,
  .btnDelete {
    &:hover {
      color: #0066cc;
      cursor: pointer;
    }
  }
}