.firstLetter {
  &::first-letter {
    text-transform: capitalize;
  }
}

.btn {
  border-color: #ccc;
  color: #2d2d2d;
  border-radius: 4px;
  cursor: pointer;

  &:hover {
    background-color: #0066cc;
    border-color: #0066cc;
    color: #fff;
  }
}

.product {

  input,
  button,
  select {
    &:focus {
      box-shadow: none;
      border-color: #ccc;
    }
  }

  .inputFind {
    outline: none;
    border-color: #ccc;
    max-width: 400px;
    width: 300px;
  }

  .btnFind {
    width: 100px !important;
  }

  .addProduct {
    border: 1px solid #ccc;
    background-color: #0066cc;
    color: #fff;

    &:hover {
      opacity: .75;
    }
  }

  .img {
    width: 75px;
    height: 100%;
    object-fit: cover;
  }

  .label {
    color: #2d2d2d;
    font-size: 15px;
  }

  .btnEdit,
  .btnDelete {
    &:hover {
      color: #0066cc;
      cursor: pointer;
    }
  }

  .unCheck {
    display: flex !important;
  }

  .form {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgb(0, 0, 0, 0.4);


    .wrap {
      width: calc(100% - 400px);
      width: 800px;
      min-height: 400px;
      background-color: #fff;
      border-radius: 4px;
      box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    }
  }
}