.contact {
  position: fixed;
  right: 25px;
  bottom: 25px;
  z-index: 999;
  user-select: none;
}

.zalo,
.phone,
.messenger {
  padding: 11px 20px;
  box-shadow: 0px 0px 10px 0px rgb(0 0 0 / 8%);
  border-radius: 15px;
  border-style: solid;
  border-width: 2px 0px 0px 0px;
  border-color: #F2F2F2;
  background-color: #fff;
  svg{
    cursor: pointer;
  }
}

.title{
  margin-right: 30px;
  h3{
    a{
      cursor: pointer;
      font-size: 13px;
      color: #1D1D1F;
      font-weight: 700;
      text-transform: capitalize;
      line-height: 18px;
    }
  }
  p{
    color: #86868B;
    font-size: 11px;
    line-height: 16px;
    cursor: text;
  }
}