:root {
  --color-heading-1: #1d1d1f;
  --color-heading-2: #0066cc;
  --color-heading-3: #515154;
  --color-heading-4: #333333;
  --color-heading-5: #515154;
  --color-heading-6: #777;
  --bg-star: #FEB700;
  --bg-container: #f5f5f7;
  --border-color: #0066cc;
}

.firstLetter {
  &::first-letter {
    text-transform: capitalize;
  }
}

.main {
  user-select: none;

  .header {
    cursor: pointer;
    font-size: 14px;

    a {
      font-size: 14px !important;
      color: var(--color-heading-6);
    }

    h1 {
      color: var(--color-heading-2);

      &:hover {
        opacity: .9;
      }
    }
  }

  .container {
    background-color: var(--bg-container);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding-bottom: 100px;

    .img {
      width: 90%;
      height: 90%;
      object-fit: cover;
    }

    .heading {
      border-bottom: 1px solid #ccc;

      .star {
        i {
          color: var(--bg-star);
        }
      }

      .titleDes {
        font-size: 12px;
        color: var(--color-heading-2);
        font-weight: 400;
        cursor: pointer;
      }

      .comment {
        position: relative;

        &::after {
          position: absolute;
          content: "";
          right: -15px;
          top: 50%;
          transform: translateY(-50%);
          height: 15px;
          width: 2px;
          background-color: #0066cc;
        }

      }
    }

    .description {
      .price {
        .cardOldPrice {
          color: var(--color-price-old);
          font-weight: normal;
          font-size: 18px;
          line-height: 26px;
        }

        .cardNewPrice {
          color: var(--color-price);
          font-size: 20px;
          line-height: 26px;
          font-weight: 700;
        }

        .dong {
          font-size: 12px;
          position: relative;
          top: -4px;
          left: 2px;
          text-decoration: underline;
        }
      }

      .abc {
        font-size: 13px;
        margin: 10px 0;
      }
    }

    .color,
    .capacity {
      .label {
        font-size: 15px !important;
        color: var(--color-heading-3);
      }

      button {
        font-size: 15px;
        color: var(--color-heading-6);

        &:hover {
          border-color: var(--color-heading-2) !important;
          color: var(--color-heading-1);
        }

        &:focus {
          box-shadow: none;
        }
      }

      .activeColor,
      .activeCapacity {
        background-color: #0066cc !important;
        color: #fff;

        &:focus {
          box-shadow: none !important;
        }
      }
    }

    .cart {

      .btnUpCount,
      .btnDownCount {
        background-color: var(--color-heading-6);
        font-size: 12px;
        opacity: .8;
        cursor: pointer;

        &:hover {
          opacity: 1;
        }
      }

      .btnAdd {
        background-color: var(--color-heading-2);

        &:hover {
          opacity: .85;
        }
        &:focus{
          box-shadow: none;
        }
      }
    }

    .gift {
      box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
      border-radius: 8px;

      .listInfor {
        padding: 10px 0;
        .itemInfor {
          list-style: inside;
          color: var(--color-heading-3);
          line-height: 25px;
          font-size: 15px;
        }
      }
    }
  }
}